/* root variables */
:root {
  --color-primary: #41bd84;
  --color-secondary: #d6d6e3ec;
  --color-tertiary: #000000;
}

header nav {
  margin: 3% auto !important;
  transition: 0.8s ease-in-out;
  position: fixed !important;
  width: 100%;
  z-index: 10;
  padding: 0 auto !important;
  background: #8f8f8f59 !important;
}
header.sticky nav {
  background: #d6d6e3ec !important;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.175) !important;
  margin: 0 auto !important;
}
/* .navbar-toggler-icon {
  background-image: url(./images/menu.svg) !important;
} */
.navbar-toggler {
  box-shadow: none;
  color: antiquewhite !important;
  border: 1px solid var(--color-primary) !important;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  text-align: right;
  /* color: var(--color-primary) !important; */
}
#header.sticky .nav-link {
  color: var(--color-tertiary) !important;
}
.navbar-brand img {
  max-width: 150px;
  padding: 0;
}
.nav-link {
  background-color: var(--color-secondary) !important;
  margin: auto 2px !important;
}
.nav-link:hover {
  background: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}
#header.sticky .nav-link:hover {
  background: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

.carousel-caption {
  bottom: 35%;
}

.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.336) !important;
}
.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.336) !important;
}

.dropdown-menu {
  border-radius: 0;
  border: none !important;
  background-color: transparent !important;
}
.dropdown-item {
  margin-top: 2px !important;
  text-align: left;
  background-color: var(--color-secondary) !important;
}

.dropdown-item:hover {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

/* Banner Section */
.jumbotron {
  background: url('/adbanner.jpg') no-repeat center;
  background-size: cover;
  background-color: #353535af;
}
.donate-btn {
  transition: 0.8s;
}
.donate-btn:hover {
  transform: scale(1.1);
}

/* Project Section */
#projects .card {
  overflow: hidden;
  display: inline-block;
}
#projects .img-fluid {
  transition: 0.8s;
  overflow: hidden !important;
}
#projects .img-fluid:hover {
  transform: scale(1.1);
  overflow: hidden !important;
}

/* News Section */
#news .card-body {
  margin: auto 20px;
  margin-top: -50px;
}
#news .card-body {
  transition: 0.8s;
  overflow: hidden !important;
}
#news .card-body:hover {
  transform: scale(1.1);
  overflow: hidden !important;
}

/* Footer Section */
footer {
  background: url('/wave.svg') no-repeat center;
  background-size: cover;
  padding-top: 200px !important;
}

/* Loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000e8;
  flex-direction: column;
}
